@page "{name}"
@model CategoryModel
@{

    ViewData["Title"] = Model.Category.CategoryName;
    var base_path = Request.PathBase;
    var card_image_path = $"{base_path}/CategoryImage/{Model.Category.Image}";
}


<div class="container">
    <div class="columns">
        <div class="column is-6">
            <figure class="image">
                <img src="@card_image_path" />
            </figure>
        </div>

        <div class="column is-6">
            <h2 class="title">@Model.Category.CategoryName</h2>
            <p class="subtitle">@Model.Category.Description</p>
            <p>Extended Description - There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
            @foreach (var p in Model.Category.Product)
            {
                var product_card_image_path = $"{base_path}/ProductImage/{p.Image}";
                var logo_image_path = $"{base_path}/ProductLogoImage/{p.Image}";
                <div class="column is-4-desktop is-6-tablet is-12-mobile">
                    <div class="card has-equal-height">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="@product_card_image_path" alt="Example card image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="@logo_image_path" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <h2 class="title is-5"><a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">@p.Name</a></h2>
                                    <p class="subtitle is-5 is-bold">$@p.MinValue</p>
                                </div>
                            </div>
                            <div class="content">
                                <p class="subtitle is-6">@p.Description</p>
                                <!-- need to add Stock into the products for categories to show stock levels
                                //@{ //if (p.StockCount == 0)
                                    {
                                        <div class="notification is-paddingless has-text-centered is-danger">
                                            Out of Stock
                                        </div>
                                    }
                                     //else if (p.StockCount <= 5)
                                    {
                                        <div class="notification is-paddingless has-text-centered is-warning">
                                            Low on Stock
                                        </div>
                                    }
                                }

                                    -->
                                <div class="buttons">
                                    <a class="button is-warning" asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">View Product</a>
                                    <a class="button is-success" asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
