@page "{name}"
@model ProductModel
@{

}

<div class="container">
    <h2 class="title">@Model.Product.Name</h2>
    <div class="columns">
        <div class="column is-6">
            <p>@Model.Product.Description</p>
        </div>

        <div class="column is-6">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Price</label>
                </div>
                <div class="field-body">
                    <label class="label is-large">@Model.Product.Value</label>
                </div>
            </div>
            <form method="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Stock</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="CartViewModel.StockId">
                                        @foreach (var stock in Model.Product.Stock)
                                        {
                                            <option value="@stock.Id">@stock.Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Qty</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <input class="input" type="text" asp-for="CartViewModel.Qty" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                    </div>
                    <div class="field-body">
                        <div class="field is-normal">
                            <div class="control">
                                <button class="button is-primary" type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
@await Component.InvokeAsync("Cart")
