@model IEnumerable<WebStore.Application.Cart.GetCart.Response>
@{ 
    var base_path = Context.Request.PathBase;
}
<div class="container">

    <h2 class="title">Order</h2>
    @foreach (var product in Model)
    {
        string lineValue = $"{product.MinValue * product.Qty}";
        var logo_image_path = $"{base_path}/ProductLogoImage/{product.ProductImage}";
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="@logo_image_path" alt="Example image">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title">@product.Name</p>
                    <div class="level">
                        <div class="level-item">@product.StockId</div>
                        <div class="level-item">@product.StockName</div>
                        <div class="level-item">@product.Qty</div>
                        <div class="level-item">@product.MinValue</div>
                        <div class="level-item">@lineValue</div>
                    </div>
                </div>
            </div>
        </article>
    }
</div>